---
layout: default_edited
title: Finished
---

{% include 3d-print_city.html %}
{% include 3d-print_lithophane.html %}
{% include arxiv-filter.html %}
{% include expense_tracker.html %}
{% include finamp_music_player.html %}
{% include immich_media_self-hosting.html %}
{% include jellyfin_media_center.html %}
{% include own_vpn_home_server.html %}
{% include pi-hole.html %}
{% include quoridor.html %}
{% include security_camera.html %}
{% include string-art.html %}
{% include wii_emulation.html %}
